body {
    font-family: "Oxygen", sans-serif;
    font-size: 16px;
    color: rgb(68, 68, 68);
    font-weight: 400;
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    font-size: 4rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

header {
    position: fixed;
    z-index: 100;
    width: 100%;
    border-bottom: 1px solid gainsboro;
    height: 64px;
    background-color: white;
}

.main-content {
    position: relative; 
    top: 64px; 
    max-width: 100%;
    overflow: hidden;
}

.header-content {
    display: flex;
    align-items: center;
    height: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-content nav.desktop ul {
    display: inline-flex;
    padding-right: 24px;
}

.header-content nav.desktop li {
    padding-left: 16px;
    transition: all 0.1s linear 0;
}

.header-content nav.desktop li:hover {
    font-weight: 700;
    text-decoration: underline;
}

.header-content .title-logo {
    flex: 1;
    padding-left: 24px;
    font-size: 1.75rem;
    letter-spacing: 1.5px;
}

.header-content .home-button {
    display: inline-flex;
    align-items: center;
    color: darkgrey;
}

.header-content .home-button em {
    color: rgb(68, 68, 68);
    font-weight: 700;
}

.header-content img {
    height: 40px;
    width: auto;
}

#learn {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: gainsboro;
}

#learn .image-container {
    width: 60%;
    overflow: hidden;   
}

#learn .image-container img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    box-sizing: border-box;
    padding-left: 24px;
    padding-right: 24px;
}

#learn .text-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

#learn .text-container h1 {
    padding-bottom: 24px;
}

#learn .text-container h3 {
    padding-bottom: 24px;
}

#learn .text-container a {
    width: 80%;
}

#learn .text-container .button {
    height: 32px;
    box-sizing: border-box;
    background-color: dimgray;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 2px;
    text-align: center;
    color: white;
    transition: all 0.2s linear 0.1s;
}

#learn .text-container .button:hover {
    background-color: white;
    border: 1px solid rgb(68, 68, 68);
    color: rgb(68, 68, 68);
}

#practice {
    display: flex;
}

#practice .left-container {
    padding-top: 32px;
    padding-bottom: 32px;
    width: 60%;
}

#practice .left-container img {
    max-width: 100%;
    vertical-align: top;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;  
}

#practice .left-container .text-container {
    padding-left: 24px;
    padding-right: 24px;
}

#practice h1 {
    padding-top: 32px;
    padding-bottom: 24px;
}

#practice .quote {
    padding-bottom: 32px;
    line-height: 1.6;
    width: 80%;
    font-size: 1.2rem;
    font-weight: 300;
    width: auto;
}

#practice .right-container {
    padding-top: 16px;
    padding-bottom: 32px;
    border-left: 1px solid gainsboro; 
    width: 40%;
    box-sizing: border-box;

}

#practice .content-block {
    display: flex;
    align-items: center;
    border: 1px solid gainsboro;
    padding: 16px;
    transition: all 0.1s linear;
}

#practice .content-block:hover {
    background-color: gainsboro;
    border-color: rgb(68, 68, 68);
}

#practice .content-block .image-container {
    width: 35%;
}

#practice .content-block img {
    vertical-align: top;
    max-width: 100%;
}

#practice .content-block .text-container {
    width: 65%;
    padding-right: 32px;
    padding-left: 16px;
    box-sizing: border-box;
}

#practice .content-block h2 {
    line-height: 1.6;
}

#practice .content-block p {
    padding: 8px 0 8px 0;
    line-height: 1.6;
    font-size: 1.2rem;
    font-weight: 300;
}

#practice .content-block a {
    color: rgb(0,0,238);
    font-size: 1.2rem;
}

#start-learn {
    padding: 32px 56px 32px 56px; 
    background-color: gainsboro;
}

#start-learn .header{
    text-align: center;
    line-height: 1.6;
}

#start-learn .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

#start-learn .gallery-block {
    padding: 32px 16px 0 16px;
    background-color: white;
    background-clip: content-box;
    box-sizing: border-box;
    width: 30%;
    max-width: 532px;
    min-width: 320px;
    transition: all 0.2s ease-out 0.1s;
}

#start-learn .gallery-block:hover {
    transform: scale(1.05);
}

#start-learn .gallery img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

#start-learn .gallery .text-container {
    padding-left: 16px;
    overflow-wrap: break-word;
}

#start-learn h2 {
    padding-top: 16px;
    line-height: 1.6;
}

#start-learn h5 {
    padding-top: 8px;
    line-height: 1.6;
}

#start-learn p {
    padding-top: 8px;
    padding-bottom: 24px;
    line-height: 1.6;
}

#thesis .header {
    text-align: center;
    line-height: 1.6;
    padding-top: 32px;
    padding-bottom: 32px;
}

#thesis .section-content{
    display: flex;
    width: 100%;
}

#thesis .left-container {
    width: 60%;
    box-sizing: border-box;
    padding: 0 24px 32px 24px;
}

#thesis .left-container video {
    max-width: 100%;
    vertical-align: top;
}

#thesis .left-container p {
    line-height: 1.6;
    font-size: 1.2rem;
    padding-top: 8px;
    font-weight: 300;
}

#thesis .left-container h2 {
    line-height: 1.6;
    padding-top: 24px;
}

#thesis .right-container {
    width: 40%;
    border-left: 1px solid gainsboro; 
}

#thesis .content-block {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 16px;
    border: 1px solid gainsboro;
    transition: all 0.1s linear;
}

#thesis .content-block:hover {
    background-color: gainsboro;
    border: 1px solid rgb(68, 68, 68);
}

#thesis .content-block .image-container {
    width: 35%;
}

#thesis .content-block img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

#thesis .content-block .text-container {
    padding-left: 16px;
    width: 65%;
    box-sizing: border-box;
}

#thesis .right-container h2 {
    line-height: 1.6;
}

#thesis .right-container p {
    line-height: 1.6;
    font-size: 1.2rem;
    padding-top: 8px;
    font-weight: 300;
}

footer {
    padding: 16px 24px 32px 24px;
    border-top: 1px solid gainsboro;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    font-size: 0.8rem;
}

.footer-content p {
    flex: 1;
}

.footer-content ul {
    display: inline-flex;
}

.footer-content a {
    padding-left: 16px;
    transition: all 0.1s linear 0;
}

.footer-content a:hover {
    text-decoration: underline;
    font-weight: 700;
}


@media only screen and (min-width: 769px) {
    .header-mobile {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .header-content {
        display: none;
    }

    .header-mobile ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 64px;
    }

    #learn {
        display: inline-block;
        padding: 0;
    }

    #learn .image-container {
        width: 100%;
    }

    #learn .image-container img {
        padding: 0;
    }

    #learn .text-container {
        width: 100%;
        text-align: center;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    #learn .text-container h1 {
        padding-bottom: 32px;
        padding-left: 16px;
        padding-right: 16px;
    }

    #learn .text-container h3 {
        padding-bottom: 24px;
    }

    #learn .text-container a {
        margin: 0 auto;
    }

    #practice .left-container {
        display: none;
    }

    #practice .right-container {
        width: 100%;
    }

    #practice .right-container .content-block {
        display: block;
    }
}

